
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegacao ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navegacao ul li {
  padding: 0;
  margin: 0;
  border-bottom: none;
  margin-top: -85px;
}

.navegacao ul li:hover {
  background: none;
}

.navegacao a {
  color: #082b4b;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 20px;
  transition: 0.3s;
}

.navegacao a:hover {
  background-color: #f2d27a;
  color: #ffffff;
  text-decoration: none;
}

.navegacao a.ativo {
  color: #0d3b66;
}

.icone {
  display: flex;
  justify-content: left;
  margin-top: -10px;
  height: 140px;
  width: auto;
  margin-left: 60px;
}


.banner-time {
  width: 100%;
  height: 300px;

  background-image:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0.2)
    ),
    url("https://s2-ge.glbimg.com/bwCPcbJmutqLUzRd7-BpbAN75hk=/0x0:1366x768/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2018/n/J/bV06bqQ7Cvp0Na769ObA/bayern2.jpg");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  padding: 40px;
}

.conteudo-banner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 150px;
}
.conteudo-banner img {
  width: 100px;
  height: auto;
}
.conteudo-banner h1 {
  font-size: 48px;
  color: rgb(202, 30, 30);
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.conteudo-banner p {
  font-size: 18px;
  color: #1f68ac;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}



.menu-times{
  background-color: white;

  padding: 22px 0;

  border-bottom: 1px solid #ddd;
}

.menu-times ul{
  list-style: none;

  display: flex;
  justify-content: center;

  gap: 60px;
}

.menu-times a{
  text-decoration: none;

  color: #c9a227;

  font-size: 20px;
  font-weight: bold;

  transition: 0.3s;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

}

.menu-times a:hover{
  color: #0d3b66;
}

 

.elenco{
    padding: 50px 70px;
}



.elenco h2{
    color: #082b4b;

    font-size: 40px;

    margin-bottom: 25px;
}


.tabela-elenco{
    background-color: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}



.topo-tabela{
    background-color: #082b4b;

    color: white;

    display: grid;

    grid-template-columns: 1fr 3fr 2fr 2fr;

    padding: 20px;

    font-weight: bold;
}



.jogador{
    display: grid;

    grid-template-columns: 1fr 3fr 2fr 2fr;

    padding: 20px;

    border-bottom: 1px solid #eee;

    transition: 0.3s;
}


.jogador:hover{
    background-color: #f8f8f8;
}



.jogador span:first-child{
    color: #c9a227;

    font-weight: bold;
}